<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>카카오 맵</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #map {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
    <div id="map"></div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const appkey = /*[[${appkey}]]*/ 'defaultAppkey';
        const latitude = /*[[${latitude}]]*/ '0';
        const longitude = /*[[${longitude}]]*/ '0';
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey=' + ${appkey}}"></script>
    <script th:inline="javascript">
        const container = document.getElementById('map');
        const options = {
            center: new kakao.maps.LatLng(latitude, longitude),
            level: 3
        };

        // =============================
        // 지도
        // =============================
        // 지도를 생성합니다
        const map = new kakao.maps.Map(container, options);

        // =============================
        // 지도 컨트롤러
        // =============================
        // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
        const mapTypeControl = new kakao.maps.MapTypeControl();

        // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
        // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
        map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);

        // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
        var zoomControl = new kakao.maps.ZoomControl();
        map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

        // =============================
        // 마커
        // =============================
        // 마커를 생성합니다
        const marker = new kakao.maps.Marker({
            position: new kakao.maps.LatLng(latitude, longitude)
        });

        // 마커가 지도 위에 표시되도록 설정합니다
        marker.setMap(map);


    </script>
</body>
</html>